body 
{
    background-color:#faf6e9;
    font-family:Arial, Sans-Serif;
}

#wrapper
{
    width:auto;
    
   
}
#Logo {
     position: absolute; 
     top: 10pt; 
     right: 5pt;
     z-index: 100;
    
  
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Set the minimum and maximum column width for each item */
  grid-gap: 10px; /* Set the gap between each item */
}
/* Set the style for each item in the grid */
.product{
  width: 100%; /* Set the width of each item to fill the column */
  border-radius: 10px; /* Add some rounded corners */
  overflow: hidden; /* Hide any overflow */
}

/* Set the style for the image inside each item */
.product img {
  width: 100%; /* Set the width of the image to fill the container */
  height: auto; /* Set the height of the image to be proportional */
}

#header 
{ 
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #494949, #ffd3b6);
  color: transparent;
  padding-top:60px;
    padding-bottom:70px;

}

#container 
{
    width:100%;
    background-color: #ece8d9; 
    float:left;
    clear:left;
    border:1px solid #CFCFFF;
    box-sizing:border-box;
}

#login
{
   float:right;
   margin:5px 10px 0px 0px;
}

#menu
{
   width:18%;
   min-width:100px;
   float:left;
   padding:10px;
   box-sizing:border-box;
}

#content
{
    width:82%;
    min-height:500px;
    border-left:1px solid #CFCFFF;
    float:left;
    padding:10px;  
    box-sizing:border-box; 
}

#footer
{
    width:100%;
    height:50px;
    padding-top:10px;
    border-left:1px solid #CFCFFF;
    border-right:1px solid #CFCFFF;
    border-bottom:1px solid #CFCFFF;
    background-image: linear-gradient(#494949, #494949);
    text-align:center;
    float:left;
    clear:both;  
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-sizing:border-box;
}

.heading {
    font-size: 130%;
    font-weight: bold;
    color: #494949;
    margin-top: 25px;
    padding: 20px 15px 10px 150px;
    text-align: left;
}

.footerspan
{
    font-size:120%;
    font-weight:bold;
    color:#ffaaa5;      
}

.breadcrumbhr
{
    color:#CFCFFF;
    height:1px;
    border: solid 1px #ffaaa5;
}

.headingspan
{
   font-weight:bold;
}

.menunode
{
    color:#ffaaa5;
}

.menunodeselected
{
    font-weight:bold;
}

.menunodehover
{
    text-decoration:underline;
    color:#000000;
}

.rootnode
{
    font-size: 120%;    
}

.parentnode
{
   font-size:100%;    
}


.lightblue 
{
    background-color:#ffaaa5;
}

.boldtext 
{
    font-weight:bold;
}

.floatright 
{
    float:right;
}

.weekCalendar a 
{
   text-decoration:none;
}